*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

body{
  background-color: #e4e4e7;
}

header{
  font-size: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  padding: 54px;
}

.card{
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.card:hover{
  cursor: pointer;
  transform: scale(1.05);
  /* width: 100%; */
}

.card> img{
  place-self: center;
  width: 300px;
  height: 300px;
}

.pokemon-name{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

footer img{
  display: flex;
  width: 24px;
  transition: transform 0.3s ease-in-out;
}

footer img:hover{
  transform: rotate(360deg) scale(1.1);
}